<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>タスク一覧</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class = "text-center container bg-light">
    <h1 class = "mt-5">タスク一覧表示</h1>
    
        <div class = "card mb-3" th:each="task : ${tasks}">
            <div class = "card-body"> 
            [[${task.id}]] 
            <span th:unless = "${task.completed}">[[${task.title}]]</span>
            <del th:if = ${task.completed}>[[${task.title}]]</del>
            <span th:if = ${task.completed}>✔</span>
            <input type = "checkbox" th:checked = "${task.completed}">

            <form action = "/tasks/delete" method = "post" style = "display: inline-block">
                <input type = "hidden" name = "id" th:value = ${task.id}>
                <button class = "btn btn-danger">削除</button>
            </form>
                    
            <form action = "/tasks/complete" method = "post" style = "display: inline-block">
                <input type = "hidden" name = "id" th:value = ${task.id}>
                <button class = "btn btn-success">完了</button>
            </form>

            <form action = "/tasks/edit" method = "get" style = "display: inline-block">
                <input type = "hidden" name = "id" th:value = ${task.id}>
                <button class = "btn btn-warning">編集</button>
            </form>
            </div>
        </div>
   
    <h2 class = "mt-5">追加するタスクを入力してください</h2>
    <form action = "/tasks/add" method = "post">
        <input type = "text" name = "title" class = "form-control">
        <button class = "btn btn-primary ">送信</button>
    </form>
    <span th:if = "${error}">[[${error}]]</span>

    <p>
        <form action = "/logout" method = "post">
            <button class = "btn btn-secondary">ログアウト</button>
        </form>
    </p>
</body>
</html>